<section class="hero">
  <h1>Digital Hymn Book</h1>

  <p>
    Discover hymns for worship, praise and prayer.
  </p>

  <a routerLink="/hymns">Browse Hymns</a>
  <a routerLink="/categories">Browse Categories</a>
</section>

<section class="hymn-of-the-day">
  <p>HYMN OF THE DAY</p>

  <h2>{{ hymnOfTheDay.title }}</h2>

  <p>Hymn {{ hymnOfTheDay.number }}</p>
  <p>By {{ hymnOfTheDay.author }}</p>

  <a [routerLink]="['/hymns', hymnOfTheDay.id]">
    Read Hymn
  </a>
</section>

<section class="home-categories">
  <h2>Browse by Category</h2>

  @for (category of categories; track category) {
    <a [routerLink]="['/categories', category]">
      {{ category }}
    </a>
  }
</section>

<section class="recently-viewed">
  <h2>Recently Viewed</h2>

  @for (hymn of recentlyViewed; track hymn.id) {
    <div>
      <p>Hymn {{ hymn.number }}</p>
      <h3>{{hymn.title }}</h3>
      <p>{{ hymn.author }}</p>

      <a [routerLink]="['/hymns', hymn.id]">Read Hymn</a>
    </div>
  }
  @empty {
    <p>You haven't viewed any hymns yet.</p>
  }
</section>

<section class="favorite-hymns">
  <h2>Favorite Hymns</h2>

  @for (hymn of FavoriteHymns; track hymn.id) {
    <div class="favorite-card">
      <p>Hymn {{ hymn.number }}</p>
      <h3>{{hymn.title }}</h3>
      <p>{{ hymn.author }}</p>

      <a [routerLink]="['/hymns', hymn.id]">Read Hymn</a>
    </div>
  }
  @empty {
    <div class="empty-favorites">
      <p>You haven't added any favorite hymns yet.</p>
      <a routerLink="/hymns">Browse Hymns</a>
    </div>
  }
</section>